/*  **********  /04-curso-100-proyectos-html-css-js  ************  */
/*  **********  /06-proyectos-javascript/  **********************  */ 
/*  **********  /proyecto-04-js/assets/css/styles.css  **********  */ 
/*  *************************************************************  */

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
