/*  **********  /04-curso-100-proyectos-html-css-js  **********  */
/*  **********  /05-proyectos-css3/  **************************  */
/*  **********  /17-proyecto-17-css/styles.css  ***************  */
/*  ***********************************************************  */


body {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-size: 36px;
    text-align: center;
}

hr {
    width: 100%;
    height: 2px;
}

.articulo {
    float: left;
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}