/*  **********  /04-curso-100-proyectos-html-css-js/  **********  */
/*  **********  /03-repaso-bem/  *******************************  */
/*  **********  /03-variables/styles.css  **********************  */


:root {
    --background-principal: #eeeeee;
    --color-principal: red;
    --fuente: Arial, Verdana;
    --fuente-size: 45px;
}

body {
    text-align: center;
    background-color: var(--background-principal);
}

h1 {
    font-size: var(--fuente-size);
    color: var(--color-principal);
    font-family: var(--fuente);
}

p {
    font-family: var(--fuente);
}

a {
    color:var(--color-principal);
}

h3 {
    font-size: var(--fuente-size);
}
